.card {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px #888;
    border-radius: 10px;
    float: left;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    position: relative;
}

.card:hover {
    background-color: ivory;
}

.editIcon {
    position: absolute;
    right: 0;
    top: 2px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}