nav {
    margin: 5px;
}

nav a {
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: black;
}

nav a:active,
nav a:hover,
nav a.active {
    color: #fa923f;
}
